<app-table 
    *ngIf="data" 
    [data]="data" 
    [columns]="dataColumns"
    [lazyLoad]="lazyLoad"
    [expandable]="true"
    [(pageSize)]="pageSize" 
    [pageSizeOptions]="[5,10,15]"
    [pagesLength]="lazyLoad ? pagesLength : data.length"
    (fetchPageEvent)="fetchPageEvent($event)"
    [expandableDetailAsTemplate]="false">
    <!-- This will be the template inside the extra data row -->
    <ng-template #expandedRowDetail>Extra data</ng-template>
</app-table>

<app-spinner *ngIf="loading"></app-spinner>

<div *ngIf="!data && !loading">
    <h3 *ngIf="!error" i18n="No data to show">אין נתונים להציג</h3>
    <h3 *ngIf="error" i18n="Error getting the data">שגיאה בקבלת הנתונים</h3>
</div>