<div class="table-container">
  <table mat-table class="full-width-table" matSort aria-label="Elements" multiTemplateDataRows>
    <ng-container matColumnDef="{{namedColumn}}" *ngFor="let namedColumn of namedColumns; let i=index">
      <th class="bold" mat-header-cell *matHeaderCellDef mat-sort-header><h6 class="color bold font">{{displayedColumns[i]}}</h6></th>
      <ng-container *ngIf="columns ">
        <td mat-cell *matCellDef="let row" (click)="columns[i].onClick ? columns[i].onClick(row): undefined">
          <span *ngIf="!columns[i].type || columns[i].type==1"><h6 class="font">{{row[namedColumn]}}</h6></span>
          <button class="btn" *ngIf="columns[i].type==2">{{row[namedColumn]}}</button>
          <mat-icon *ngIf="columns[i].type==3">{{row[namedColumn]}}</mat-icon>
        </td>
    </ng-container>

    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div class="data-row-details" 
             [@detailExpand]="row === expandedRow ? 'expanded' : 'collapsed'">
            <ng-container *ngIf="expandableDetailAsTemplate; then expandedDataAsTemplate; else expandedDataAsTable"></ng-container>

            <ng-template #expandedDataAsTemplate>
              <ng-template *ngTemplateOutlet="expandedRowDetailImpl, context: { $implicit: row }"></ng-template>
            </ng-template>
            <ng-template #expandedDataAsTable>
              <app-table
                *ngIf="expandable && row[EXTRA_DATA_PROPERTY_NAME]?.length > 0"
                [data]="row[EXTRA_DATA_PROPERTY_NAME]"
                [columns]="row[EXTRA_DATA_PROPERTY_NAME][EXTRA_DATA_COLUMNS_PROPERTY_NAME]"
                [pageable]="false">
              </app-table>
            </ng-template>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="namedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: namedColumns;" 
        [class.table-data-row-expandable]="expandable"
        [class.table-data-row-expanded]="expandedRow === row"
        (click)="expandedRow = expandedRow === row ? null : row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="table-data-details-row"></tr>

    <ng-container *ngIf="pageable">
      <ng-container matColumnDef="stickyPaginator">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
          <mat-paginator
            #paginator
            [style.display]="dataSource?.data.length == 0 ? 'none' : 'inherit'"
            [length]="pagesLength"
            [pageIndex]="0"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageChangeEvent($event)"
            [showFirstLastButtons]="true">
          </mat-paginator>
        </td>
      </ng-container>
      <tr mat-footer-row *matFooterRowDef="['stickyPaginator']; sticky: true"></tr>
    </ng-container>
  </table>
</div>
