<mat-sidenav-container class="sidenav-container" i18n-dir dir="rtl">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img id="logoImg" src="assets/logo.png">
      <!-- <div class="logo-title">כלים שלובים</div> -->
    </mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let navitem of items" >
          <div *ngIf="navitem.children.length > 0">
              <a mat-list-item (click)="navitem.expanded = !navitem.expanded">{{navitem.text}}
                  <mat-icon class="mat-icon-rtl-mirror" *ngIf="navitem.icon">{{navitem.icon}}</mat-icon>
                  <mat-icon class="mat-icon-rtl-mirror">{{ navitem.expanded ? 'chevron_right' : 'expand_more' }}</mat-icon>
              </a>
              <div *ngIf="navitem.expanded">
                <div *ngFor="let child of navitem.children">
                    <a mat-list-item [routerLink]="child.href">
                      {{child.text}}
                      <mat-icon class="mat-icon-rtl-mirror" *ngIf="child.icon">{{child.icon}}</mat-icon>
                    </a> 
                </div>
              </div>
          </div>
          <div *ngIf="navitem.children.length == 0">
              <a mat-list-item [routerLink]="navitem.href" (click)="navitem.expanded = !navitem.expanded">
                {{navitem.text}}
                <mat-icon class="mat-icon-rtl-mirror" *ngIf="navitem.icon">{{navitem.icon}}</mat-icon>
              </a> 
          </div>
      </div>
    </mat-nav-list>

    <div>
      <a href="/en/">EN</a>
      <br>
      <a href="/he/">HE</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="navstyle" i18n="The app title">כלים שלובים</span>
      <span class="fill-space"></span>
      <mat-icon>search</mat-icon>
      <mat-icon>more_vert</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
